body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
span {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #111111;
  letter-spacing: 1px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
